## Minnesota State COVID Response Analysis
This notebook contains the work to identify associations between the Minnesota state governmental response and the COVID-19 case count throughout the pandemic.


## Data Cleanup
As with most data mining projects, we will need to clean up the given data file in order to focus on the goal at hand. The "all-states-history.csv" file is a dataset of U.S. COVID-19 cases and deaths dating from the start of the pandemic to 11/29/20 and was sourced from [The Covid Tracking Project](https://covidtracking.com/data). We are analyzing 3 periods throughout this timeline:

- Early Breakout (Early March -> May)
- Summer (June -> August)
- Fall/Present (September -> Late November)

We will divide up the data into 3 different frames according to these periods.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import squarify
import seaborn as sns

In [9]:
data = pd.read_csv('all-states-history.csv')
data.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-11-29,AK,A,121.0,121.0,0,NaN,722.0,722.0,159.0,...,1006180.0,7126,NaN,NaN,NaN,NaN,NaN,0,1006180.0,7126
1,2020-11-29,AL,A,3577.0,3245.0,5,332.0,24670.0,24670.0,1609.0,...,1579713.0,5811,NaN,NaN,71698.0,NaN,NaN,0,1579713.0,5811
2,2020-11-29,AR,A+,2470.0,2265.0,21,205.0,8843.0,8843.0,1030.0,...,1675828.0,10243,NaN,21856.0,NaN,135709.0,NaN,0,1675828.0,10243
3,2020-11-29,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,1988.0,0,NaN,NaN,NaN,NaN,NaN,0,1988.0,0
4,2020-11-29,AZ,A+,6634.0,6148.0,10,486.0,25568.0,25568.0,2458.0,...,2236325.0,18441,363824.0,NaN,NaN,NaN,2236325.0,18441,NaN,0

Cleaning up data to only include Minnesota instances and the appropriate attributes

In [22]:
columns_to_show = ['date','state','death','deathConfirmed','deathIncrease','hospitalizedCurrently','hospitalizedIncrease','negative'
                   ,'positive','totalTestResults','totalTestResultsIncrease']

clean_data = data[data['state'] == 'MN']
clean_data = clean_data[columns_to_show]
clean_data.head()

,date,state,death,deathConfirmed,deathIncrease,hospitalizedCurrently,hospitalizedIncrease,negative,positive,totalTestResults,totalTestResultsIncrease
25,2020-11-29,MN,3578.0,3507.0,57,1785.0,220,2206087.0,312969.0,4116741.0,89486
81,2020-11-28,MN,3521.0,3453.0,45,1785.0,380,2170530.0,304023.0,4027255.0,105119
137,2020-11-27,MN,3476.0,3410.0,101,1785.0,277,2131220.0,295001.0,3922136.0,49074
193,2020-11-26,MN,3375.0,3313.0,0,1812.0,0,2113887.0,289303.0,3873062.0,0
249,2020-11-25,MN,3375.0,3313.0,72,1812.0,322,2113887.0,289303.0,3873062.0,63086

In [47]:
## Breaking down clean data into each period

early_breakout_data = clean_data[183:]

summer_data = clean_data[90:182]

fall_data = clean_data[0:90]

'2020-06-01'

## Analysis

Important MN Stats:

- Population (mn.gov estimate): 5,680,337
- Land Area (estimate): 79,610.08 sq. mi.
- Population Density: 71.35 people/sq. mi.




Early Breakout Period: