## Minnesota State COVID Response Analysis
This notebook contains the work to identify associations between the Minnesota state governmental response and the COVID-19 case count throughout the pandemic.


## Data Cleanup
As with most data mining projects, we will need to clean up the given data file in order to focus on the goal at hand. The "all-states-history.csv" file is a dataset of U.S. COVID-19 cases and deaths dating from the start of the pandemic to 11/29/20 and was sourced from [The Covid Tracking Project](https://covidtracking.com/data). We are analyzing 3 periods throughout this timeline:

- Early Breakout (Early March -> May)
- Summer (June -> August)
- Fall/Present (September -> Late November)

We will divide up the data into 3 different frames according to these periods.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import squarify
import seaborn as sns

In [2]:
data = pd.read_csv('all-states-history.csv')
data.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-11-29,AK,A,121.0,121.0,0,NaN,722.0,722.0,159.0,...,1006180.0,7126,NaN,NaN,NaN,NaN,NaN,0,1006180.0,7126
1,2020-11-29,AL,A,3577.0,3245.0,5,332.0,24670.0,24670.0,1609.0,...,1579713.0,5811,NaN,NaN,71698.0,NaN,NaN,0,1579713.0,5811
2,2020-11-29,AR,A+,2470.0,2265.0,21,205.0,8843.0,8843.0,1030.0,...,1675828.0,10243,NaN,21856.0,NaN,135709.0,NaN,0,1675828.0,10243
3,2020-11-29,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,1988.0,0,NaN,NaN,NaN,NaN,NaN,0,1988.0,0
4,2020-11-29,AZ,A+,6634.0,6148.0,10,486.0,25568.0,25568.0,2458.0,...,2236325.0,18441,363824.0,NaN,NaN,NaN,2236325.0,18441,NaN,0

Cleaning up data to only include Minnesota instances and the appropriate attributes

In [65]:
columns_to_show = ['date','state','death','deathConfirmed','deathIncrease','hospitalizedCurrently','hospitalizedIncrease','negative'
                   ,'negativeIncrease','positive','positiveIncrease','totalTestResults','totalTestResultsIncrease']

clean_data = data[data['state'] == 'MN']
clean_data = clean_data[columns_to_show]
clean_data = clean_data.iloc[::-1]
#clean_data = clean_data.reset_index(drop=True)
clean_data['date'] = clean_data['date'].astype('datetime64[ns]')
clean_data = clean_data.set_index('date')
clean_data.head(21)
columns_to_sum = clean_data[['deathIncrease','hospitalizedIncrease','negativeIncrease','positiveIncrease','totalTestResultsIncrease']]
weekly_data = columns_to_sum.resample('W', label='right', closed='right').sum()
weekly_data = weekly_data.reset_index()
weekly_data.head(39)
for i in range(39):
    weekly_data[]

,date,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,2020-03-08,0,0,12,1,13
1,2020-03-15,0,0,1339,126,1465
2,2020-03-22,1,12,3124,221,3345
3,2020-03-29,8,63,14055,376,14431
4,2020-04-05,20,127,9524,492,10016
5,2020-04-12,41,159,9940,647,10587
6,2020-04-19,64,213,8258,1050,9308
7,2020-04-26,138,255,12873,2598,15471
8,2020-05-03,147,370,24272,3899,28171
9,2020-05-10,159,458,27676,4141,31817
10,2020-05-17,153,433,41960,4464,46416
11,2020-05-24,147,498,48497,5105,53610
12,2020-05-31,172,459,55567,3201,58768
13,2020-06-07,147,320,67020,2666,69686
14,2020-06-14,132,243,63086,1483,64569
15,2020-06-21,83,187,84204,2449,86653
16,2020-06-28,48,213,78425,2629,81054
17,2020-07-05,48,160,86011,2587,88598
18,2020-07-12,32,229,76892,4145,81037
19,2020-07-19,41,228,94213,3923,98136
20,2020-07-26,33,293,99237,4949,104186
21,2020-08-02,40,321,-103827,4794,97588
22,2020-08-09,44,314,71681,4951,104177
23,2020-08-16,54,296,54827,4254,95069
24,2020-08-23,61,300,61834,4432,120328
25,2020-08-30,52,303,56146,5605,103896
26,2020-09-06,44,265,60824,5398,116207
27,2020-09-13,62,212,41288,3724,112875
28,2020-09-20,46,232,64464,5706,130878
29,2020-09-27,43,330,74320,6717,142708
30,2020-10-04,73,394,88615,7092,165311
31,2020-10-11,61,467,90063,8442,172399
32,2020-10-18,40,512,92050,10544,170408
33,2020-10-25,115,645,78425,10990,171105
34,2020-11-01,126,823,82242,16870,175904
35,2020-11-08,181,1193,104547,30190,241739
36,2020-11-15,249,1547,103981,42719,286569
37,2020-11-22,336,1855,120896,46576,335808
38,2020-11-29,337,1714,157490,42812,416398

In [4]:
## Breaking down clean data into each period (earliest days at bottom of dataset)

early_breakout_data = clean_data[183:]

summer_data = clean_data[90:182]

fall_data = clean_data[0:90]

bins = pd.cut(early_breakout_data['positiveIncrease'],4)

print(bins)

10273    (-0.973, 243.25]
10329     (243.25, 486.5]
10385     (486.5, 729.75]
10441     (486.5, 729.75]
10497     (729.75, 973.0]
               ...
14782    (-0.973, 243.25]
14833    (-0.973, 243.25]
14884    (-0.973, 243.25]
14935    (-0.973, 243.25]
14981    (-0.973, 243.25]
Name: positiveIncrease, Length: 86, dtype: category
Categories (4, interval[float64]): [(-0.973, 243.25] < (243.25, 486.5] < (486.5, 729.75] < (729.75, 973.0]]

## Analysis

Important MN Stats:

- Population (mn.gov estimate): 5,680,337
- Land Area (estimate): 79,610.08 sq. mi.
- Population Density: 71.35 people/sq. mi.




Early Breakout Period: